.tab {
  &_item {
    color: white;
    padding: 5px;
    font-size: 13px;
    cursor: pointer;

    &.active {
      color: gold;
      border-bottom: 1px solid gold !important;
    }
  }
}


