@import "scss/color";

.bottom-bar {
  height: 60px;
  width: 100%;
  display: flex;
  padding: 0 10px;
  background-color: #00121f;
  align-items: center;
  justify-content: space-between;

  &_show-orders{
    button{
      color: white;
      padding: 5px;
      border: none;
      outline: none;
      margin: 0 10px;
      font-size: 14px;
      cursor: pointer;
      background: $main;
      border-radius: 5px;
      transition: 0.3s ease-in-out;

      &:hover{
        background:$main-opacity-05;
      }
    }
  }

  &_control-tools{
    display: flex;
    align-items: center;
    height: 80px;

    button {
      color: white;
      padding: 5px;
      border: none;
      outline: none;
      margin: 0 10px;
      font-size: 14px;
      cursor: pointer;
      background: $main;
      border-radius: 5px;
      transition: 0.3s ease-in-out;

      &:hover{
        background: $main-opacity-05;
      }

      &:disabled{
        background: rgba(255, 215, 0, 0.35);
      }

      &.active{
        background: rgba(255, 215, 0, 0.35);
      }
    }
  }
}