@import "scss/color";

.bottom-order-bar {
  background: #00121f;
  height: 300px;

  &_futures-orders {
    display: flex;
    flex-direction: column;

    &_tabs {
      background: #000a11;
      display: flex;

      span {
        color: $main !important;
        font-size: 16px !important;
      }

      .tab_item, span {
        height: 40px;
        display: flex;
        align-items: center;
        color: #adb1b8;
        font-size: 14px;
        font-weight: 500;
        margin: 0 15px;

        &.active {
          border-bottom: 2px solid $main !important;
        }
      }
    }

    &_content {
      display: flex;
      flex-direction: column;
      height: calc(100% - 40px);
      overflow-x: hidden;


      .TabContent {
        overflow: auto;
        height: 100%;
        position: relative;
        min-height: 250px;
      }

      .quantity {
        color: $long;
      }

      .liquidity {
        color: $main;
      }

      .realized {
        color: $short;
      }
    }
  }

  &_spot-order {

  }
}