.futures {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_tabs {
    display: flex;
    margin-bottom: 10px;
  }

  &_tp-sl {
    padding: 10px 0 ;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    &_position-mark {
      font-size: 10px;
      padding: 2px 4px;
      line-height: 14px;
      border-radius: 4px;
      margin-left: 5px;

      &.Long {
        color: #20b26c;
        background-color: rgba(32, 178, 108, 0.16);
      }

      &.Short {
        color: #ef454a;
        background-color: rgba(239, 69, 74, 0.16);;
      }
    }
  }

  &_trade-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;

    button {
      width: 48%;
      color: white;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 0;
      font-size: 16px;
      min-height: 25px;
      font-weight: 500;
      background: none;
      border-radius: 3px;
      transition: 0.2s ease-in-out;

      &:first-child {
        background-color: rgb(14, 203, 129);

        &:hover {
          background-color: rgba(14, 203, 129, 0.64);
        }
      }

      &:last-child {
        background-color: rgb(246, 70, 93);

        &:hover {
          background-color: rgba(246, 70, 93, 0.65);
        }
      }
    }
  }

  &_margin-ration {
    margin-top: 100px;

    h3 {
      color: white;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    & > div {
      display: flex;
      color: white;
      justify-content: space-between;
      width: 100%;

      & > span:first-child {
        font-size: 12px;
        line-height: 16px;
        color: rgb(132, 142, 156) !important;
      }

      & > span:last-child {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }

  &_triggers {
    max-width: 220px;
    margin-bottom: 5px;

    &_text {
      color: #adb1b8;
      font-size: 14px;
      cursor: pointer;

      span {
        transform: rotate(180deg);
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
      }
    }

    &_modal-triggers {
      padding: 15px 0 30px;

      &_check-item {
        min-height: 65px;
        margin-bottom: 15px;

        &_checkbox {
          .checkbox-form-control {
            font-size: 14px;
            font-weight: 600;
          }
        }

        p {
          color: #adb1b8;
          font-size: 12px;
          padding-left: 35px;
        }
      }

      &_note {
        color: #71757a;
        font-size: 12px;

        span {
          color: red;
        }
      }
    }
  }
}